[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "downloadthis"]
	path = downloadthis
	url = https://github.com/fmmattioni/downloadthis
[submodule "lactater"]
	path = lactater
	url = https://github.com/fmmattioni/lactater
[submodule "metabolic"]
	path = metabolic
	url = https://github.com/fmmattioni/metabolic
[submodule "whippr"]
	path = whippr
	url = https://github.com/fmmattioni/whippr
